doctype html
html
  head
    block title
      title ECC Financing

    meta(charset='utf-8')

    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Raleway'
    )
    link(
      rel='stylesheet'
      href='/public/bower/material-design-icons/iconfont/material-icons.css'
    )
    link(
      rel='stylesheet'
      href='/public/bower/materialize/dist/css/materialize.min.css'
    )
    link(
      rel='stylesheet'
      href='/public/dist/styles.css'
    )

    script(src='/public/bower/jquery/dist/jquery.min.js')
    script(src='/public/bower/materialize/dist/js/materialize.min.js')

  body
    nav
      div(class='nav-wrapper')
        a(href='/' class='brand-logo')
          img(src='/public/img/logo.png')
        a(href='/' data-activates='mobile-sidebar' class='button-collapse')
          i(class='material-icons') menu
        ul(class='right hide-on-med-and-down')
          li
            a(href='/index') Home
          li
            a(href='/about') About Us
          li
            a(href='/investment') Investment
          li
            a(href='/portfolio') Portfolio
          li
            a(href='/contact') Contact Us
        ul(id='mobile-sidebar' class='side-nav')
          li
            a(href='/index') Home
          li
            a(href='/about') About Us
          li
            a(href='/investment') Investment
          li
            a(href='/portfolio') Portfolio
          li
            a(href='/contact') Contact Us
    block body

    footer(class='page-footer')
      div(class='container')
        div(class='row center')
          div(class='col s12')
            img(class='footer-logo' src='/public/img/logo_full.png')
          div(class='col s12')
            a(href='/about') About Us
            a(href='/investment') Investment
            a(href='/portfolio') Portfolio
      div(class='footer-copyright center')
        div(class='container') &copy; 2017 ECC Financing. All Rights Reserved.

  block scripts
  script.
    $(document).ready(function() {
      $('.button-collapse').sideNav();
      $('.parallax').parallax();
    });
